.promo-form {
    display: flex;
    gap: 12px;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding: 12px 16px;
    flex: 1;
}

.promo-icon {
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    padding-left: 12px;
    font-size: 16px;
    width: 100%;
}

.promo-input {
    color: #000;
}

.btn-apply-code {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 62px;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-apply:hover {
    background-color: #333;
}