.product-info h1 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 12px;
}

.product-info p {
    text-align: left;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    font-weight: 700;
}

.old-price {
    color: #0000004D;
    text-decoration: line-through;
}

.discount-tag {
    font-size: 14px;
    background: #FF33331A;
    color: #FF3333;
    padding: 6px 14px;
    border-radius: 62px;
}

.selector-group label {
    display: block;
    margin-bottom: 16px;
    color: #00000099;
}

.colors {
    display: flex;
    gap: 16px;
}

.product-color-circle {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
}

.product-color-circle.active::after {
    content: '✓';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sizes {
    display: flex;
    gap: 12px;
}

.sizes button {
    padding: 12px 24px;
    border-radius: 62px;
    border: none;
    background: #F0F0F0;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s;
}

.sizes button:hover {
    background: #e0e0e0;
}

.sizes button.active {
    background: #000;
    color: #fff;
}

.action-row {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.qty-box {
    background: #F0F0F0;
    border-radius: 62px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    gap: 0;
    width: 170px;
    justify-content: space-between;
}

.qty-input {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    width: 50px;
    color: #000;
    /* Số màu đen */
    outline: none;
}

.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-to-cart {
    flex: 1;
    background: #000;
    color: #fff;
    border-radius: 62px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}