.product-gallery {
    display: flex;
    gap: 14px;
    height: 530px;
}

.thumbnails {
    display: flex;
    flex-direction:
        column;
    gap: 14px;
}

.thumb {
    width: 152px;
    height: 167px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid transparent;
}

.thumb.active {
    border-color: #000;
}

.thumb img,
.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    background: #F0EEED;
}