.breadcrumbs {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: -20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs .current {
    color: #000;
    font-weight: 500;
}