.product-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-align: left;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    background-color: #F0EEED;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

.rating span {
    color: #00000099;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-price {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.original-price {
    font-size: 24px;
    font-weight: 700;
    color: #00000066;
    text-decoration: line-through;
}

.discount-tag {
    background-color: rgba(255, 51, 51, 0.1);
    color: #FF3333;
    padding: 6px 12px;
    border-radius: 62px;
    font-size: 12px;
    font-weight: 500;
}