/* AnalyticsView.css */
.chart-placeholder {
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 24px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.visual-chart {
    height: 300px;
    background: #F9F9F9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    border: 1px dashed #ddd;
}

.shop-select {
    appearance: none;
    -webkit-appearance: none;

    background-color: #333;
    color: #fff;
    padding: 10px 45px 10px 20px;
    border-radius: 62px;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url('../../../public/icons/chevron-down-white.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
}