.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cột trên PC */
    gap: 20px;
}

@media (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}