/* SignUpPage.css */
.signup-page {
    background-color: #fff;
    margin-top: 20px;
    padding-bottom: 80px;
}

.auth-card-wrapper {
    display: flex;
    justify-content: center;
}

.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 0 40px 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.auth-title {
    font-family: 'Integral CF', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.btn-auth-main {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 62px;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 24px;
}

.btn-auth-main:hover {
    background-color: #333;
}

.terms-check {
    font-size: 14px;
    margin: 20px 0;
    padding: 0 10px;
}

.terms-check a {
    color: #000;
    text-decoration: underline;
    font-weight: 500;
}

.auth-footer {
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.auth-footer a {
    color: #000;
    font-weight: 600;
}